{% load static %}
<link rel="stylesheet" href="{% static 'polls/login.css' %}">
<div class="login-container">
  {% if form.errors %}
      <div class="error-message">
          <h3>Unos nije ispravan.</h3>
      </div>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
          <p class="error-text">Vaš račun nema pristup ovoj stranici. Za nastavak, prijavite se s računom koji ima pristup.</p>
      {% else %}
          <p class="info-text">Molim Vas da se logirate kako biste vidjeli ovu stranicu.</p>
      {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" class="styled-form">
      {% csrf_token %}

      <label for="{{ form.username.id_for_label }}">Korisničko ime:</label>
      {{ form.username }}

      <label for="{{ form.password.id_for_label }}">Lozinka:</label>
      {{ form.password }}

      <input type="hidden" name="next" value="{{ next }}" />

      <button type="submit" class="btn-primary">Prijava</button>
  </form>
</div>
